<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
    <% if @blog.errors.any? %>
        <div id="error_explanation">
            <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
            <ul>
            <% @blog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>    
            </ul>
        </div>
    <% end %>
            
    <div class="blog_title">
        <p><%= form.label :title %></p>
        <p><%= form.text_field :title %></p>
    </div>
    <div class="blog_title">
        <p><%= form.label :content %></p>
        <p><%= form.text_field :content %></p>
    </div>
    <div class="blog_title">
        <div class="image_box"><%= form.label :image %></div>
        <%= image_tag(@blog.image.url) if @blog.image.url %>
        <div class="image_box"><%= form.file_field :image, id: :blog_image %></div>
    </div>
    <p><%= form.submit %></p>
<% end %>
